
<div class="container">
    

<form class="example-form">


<h4>Basic Info</h4><br>

    
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="First name">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name">
      </mat-form-field></td>
    </tr></table>

    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
      </mat-radio-group>

      <form class="example-form">

        <mat-form-field class="example-full-width">
          <span matPrefix>+91 &nbsp;</span>
          <input type="tel" matInput placeholder="Telephone">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        
      </form>

    <button mat-raised-button color="primary">Submit</button>
  </form>
</div>