h4
{
    
    font-family: Verdana;
}

 .container
{
    padding: 50px;
}

.mat-form-field {
    margin-right: 30px;
  }

.mat-raised-button
{
    margin-top: 25px;
}


  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-top: 20px;
  }
  
  .example-full-width {
    width: 100%;
    
  }