<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>GT Musical Event</mat-card-title>

                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
               
                <mat-card-actions>
                  <button mat-raised-button color="primary" routerLink="/eventdetails">Manage Event</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>